/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.activeCell {
    background-color: green;
    border: green;
}

.completedCell {
    background-color: gray;
    border: gray;
}

.scoreDisplay {
    text-align: center;
}

.restartButton {
    text-align: center;
}
